<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-text"><%= section_title %></p>
    <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %>/<%= todos.count %></p>
  </div>
  <ul class = "TodoLinks">
    <% todos.all.each do |todo| %>
      <% if section_title != "Overdue" or !todo.completed %>
        <li class="TodoItem">
          <div class="TodoItem-container">
              <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
                <%= check_box_tag(:completed, "completed", todo.completed ? true : false,
                                  onclick: "this.form.submit()", class: "TodoItem-checkbox") %>
              <% end %>
            <span class="<%= todo.completed ? "TodoItem-strike" : "" %>"> <%= todo.todo_text %></span>
            <p class = "TodoItem-dateaddded">
              <% if show_due_date %>
                <%= todo.due_date.to_s(:short) %>
              <% end %>
            </p>
            <a>
              <div class = "TodoItem-delete">
                <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
                  <%= image_submit_tag("delete.png", onclick: "this.form.submit()") %>
              </div>
                <% end %>
            </a>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
