<article>
  <h1 class="TodoPage-title">
    <%= @current_user.first_name %>'s Todo-List
  </h1>
  <%= form_with(url: "/todos", method: "post", class: "AddTodo") do %>
    <%= text_field_tag("todo_text", nil,
                       class: "AddTodo-text",
                       placeholder: "What's next?",
                       autofocus: true) %>
    <%= date_field_tag("due_date", nil, class: "AddTodo-date") %>
    <%= submit_tag("Add", class: "AddTodo-button") %>
  <% end %>

  <%= render partial: "todo-section", locals: {
               section_title: "Overdue",
               todos: @todos.overdue,
               show_due_date: true,
             } %>
  <%= render partial: "todo-section", locals: {
               section_title: "Due Today",
               todos: @todos.due_today,
               show_due_date: false,
             } %>
  <%= render partial: "todo-section", locals: {
               section_title: "Due Later",
               todos: @todos.due_later,
               show_due_date: true,
             } %>
</article>
